.App {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
   display: flex;
   justify-content: center;
   background: linear-gradient(62deg, #324a7e 0%, #eb967d 100%);
   background-size: 400% 400%;
   animation: gradientAnimation 15s ease infinite;
}

h1 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }
  
  .tabs {
    color: #fff;
    text-shadow: 2px 2px 2px rgb(16, 226, 79);
  }

.remove-todo-btn {
    display:contents;
    background: #33ccb2;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 2px 5px 7px black;
  }

  .add-btn {
    background: #33ccb2;
    color: #fff;
    border: none;
    padding: 1.25rem;
    cursor: pointer;
    box-shadow: 2px 5px 7px black;
  }

  .add-ruta {
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    padding-top: 0.5rem;
  }
 
  .todo-form {
    width: 100%;
    margin-bottom: 5rem;
  }

  .TodoWrapper {
    background: #0a4347;
    margin-top: 3rem;
    padding: 0rem;
    border-radius: 10px;
    padding-right: 14rem;
    width: 30rem;
    color: #fff;
    box-shadow: 10%;
    box-shadow: 5px 5px 7px black;
  }

  .Todo {
    display:-moz-grid-line;
    line-height: 0.25rem;
    background: #2ee0b4;
    color: #fff;
    padding: 0rem 0.25rem;
    border-radius: 0rem;
    margin-bottom: 1.5rem;
    width: 400px;
    cursor: pointer;
    font-size:medium;
    box-shadow: 2px 2px 7px black;
  }
  
  .todo-input {
    
    justify-content:baseline;
    background: none;
    border: 1px solid #b458ff;
    padding: 0.75rem 0.25rem 0rem 0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 400px;
    box-shadow: 0px 5px 7px black;
  }

  .todo-input::placeholder {
    color: #ffffff4d;
  }
  
 
  
 